<h5 class="inline-flex items-center mb-4 text-base font-semibold text-right-panel-title uppercase ">{{title}}</h5>
<button
    (click)="onCloseDrawer()"
    class="text-right-panel-title-cross-text bg-transparent hover:bg-right-panel-title-cross-hover hover:text-right-panel-title-cross-hover-text rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center"
>
    <svg
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
    >
        <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
        ></path>
    </svg>
    <span class="sr-only">Close menu</span>
</button>
