<div class="whole-page-container">
  @if (comics$ | async; as comics) {
    @if (comics.length) {
      @if (gridService.gridOptionActivePage$ | async) {
        <app-comics-download-grid
          class="mb-4 pl-4 pt-4"
          [comics]="comics"
        ></app-comics-download-grid>
      } @else {
        <app-comic-search-table
          [comics]="comics"
          class="mb-4 pl-4 pt-4"
          [displayAddButton]="false"
        ></app-comic-search-table>
      }
    }
  }
  @if (emptyResult$ | async) {
    <app-no-results></app-no-results>
  }
</div>
