<label class="inline-flex items-center cursor-pointer">
  <div class="flex items-center justify-center mb-4">
    <input
      type="checkbox"
      [checked]="value"
      (change)="onToggleChange($event)"
      [ngClass]="{
        'bg-checkbox-background-inactive': !value,
        'bg-checkbox-background-active ': value,
      }"
      class="size-6 text-checkbox-text border-checkbox-border rounded-sm focus:ring-checkbox-focus-ring focus:ring-2"
    />
    @if (label) {
      <label class="ms-2 text-sm font-medium text-generic-text">
        {{ label }}
      </label>
    }
  </div>
</label>
