@if (comic$ | async; as comic) {
  @if (series$ | async; as series) {
    <ng-container [formGroup]="form">
      <div class="details-page-container">
        <div
          class="lg:w-1/4 md:w-1/2 w-[100%] relative p-4 flex flex-col justify-center items-center"
          >
          <div
            class="relative w-full max-w-full max-h-full rounded-md overflow-hidden h-full flex flex-col items-center justify-center"
            >
            <div class="relative w-full">
              @if (!imageLoaded) {
                <div
                  class="relative w-full h-64 rounded-md animate-pulse bg-cover-card-pulsing"
                  style="padding-bottom: 153.8%"
                ></div>
              }
              <div class="relative">
                @if (imageURL$ | async; as imageURL) {
                  <img
                    [src]="imageURL"
                    [alt]="comic.title"
                    (click)="read()"
                    class="relative inset-0 w-full h-full object-contain object-center rounded-xl block border-2 border-cover-card-border"
                    [class.hidden]="!imageLoaded"
                    (load)="imageLoaded = true"
                    />
                }
                @if (editStatus) {
                  <button
                    (click)="displayMiniCardModal()"
                    class="cover-card-button-large bg-cover-card-edit-button text-cover-card-badge-text"
                    >
                    <svg
                      class="w-6 h-6"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                      >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
                      ></path>
                    </svg>
                  </button>
                }
              </div>
            </div>
            @if (!comic.readStatus && comic.pageStatus > 0) {
              <div class="relative w-full mt-2 bg-cover-card-progress-background rounded-full h-4">
                @if (widthStyle$ | async; as widthStyle) {
                  <div
                    class="bg-cover-card-read h-4 rounded-full"
                    [style]="widthStyle"
                  ></div>
                }
              </div>
            } @else {
              <div class="relative w-full mt-2 h-4"></div>
            }
          </div>
        </div>
        @if (rows$ | async; as rows) {
          <div
            class="flex flex-col-reverse md:flex-col lg:w-2/3 md:w-3/5 p-4 items-center justify-center"
            >
            <app-two-columns-table
              [formTable]="table"
              class="w-full"
              [rows]="rows"
              [editMode]="editStatus"
            ></app-two-columns-table>
            <div
              class="flex items-center justify-center md:mx-10 md:mt-6 md:pb-0 pb-8 w-full gap-4 md:hidden lg:flex"
              >
              @if (!editStatus) {
                <app-seen-button
                  class="relative w-64"
                  [readStatus]="comic.readStatus"
                  (onClick)="toggleSeen()"
                ></app-seen-button>
              }
              @if (!editStatus) {
                <app-read-button
                  class="relative w-64"
                  [comic]="comic"
                ></app-read-button>
              }
              @if (!editStatus) {
                <app-download-file-button
                  class="relative w-64"
                  [comic]="comic"
                ></app-download-file-button>
              }
              <app-edit-metadata-button
                appHideRoles
                [appHideForRoles]="[Role.Requester, Role.Viewer]"
                class="relative"
                [class.w-64]="!editStatus"
                [class.w-128]="editStatus"
                (onEdit)="onEdit()"
                (onSave)="onSave()"
                (onCancel)="onCancel()"
              ></app-edit-metadata-button>
              @if (!editStatus) {
                <app-delete-button
                  appHideRoles
                  [appHideForRoles]="[Role.Contributor, Role.Requester, Role.Viewer]"
                  class="relative w-64"
                  [comic]="comic"
                ></app-delete-button>
              }
            </div>
          </div>
        }
      </div>
      <div class="hidden lg:hidden md:flex items-center justify-center py-4 w-full gap-4">
        @if (!editStatus) {
          <app-seen-button
            class="relative w-36"
            [readStatus]="comic.readStatus"
            (onClick)="toggleSeen()"
          ></app-seen-button>
        }
        @if (!editStatus) {
          <app-read-button class="relative w-36" [comic]="comic"></app-read-button>
        }
        @if (!editStatus) {
          <app-download-file-button
            class="relative w-36"
            [comic]="comic"
          ></app-download-file-button>
        }
        <app-edit-metadata-button
          appHideRoles
          [appHideForRoles]="[Role.Requester, Role.Viewer]"
          class="relative"
          [class.w-36]="!editStatus"
          [class.w-72]="editStatus"
          (onEdit)="onEdit()"
          (onSave)="onSave()"
          (onCancel)="onCancel()"
        ></app-edit-metadata-button>
        @if (!editStatus) {
          <app-delete-button
            appHideRoles
            [appHideForRoles]="[Role.Requester, Role.Viewer]"
            class="relative w-36"
            [comic]="comic"
          ></app-delete-button>
        }
      </div>
      @if (comic.tags.length > 0) {
        <div class="flex justify-center align-middle flex-wrap my-4 md:my-8">
          @for (tag of comic.tags; track tag) {
            <app-tag-chip [tag]="tag"></app-tag-chip>
          }
        </div>
      }
      <div class="py-4">
        @if (!editStatus) {
          <div class="text-box">
            <p class="text-box-p">{{ comic.description }}</p>
          </div>
        } @else {
          <div class="text-box">
            <app-input-text-form
              class="text-box-input"
              [multiLine]="true"
              formControlName="description"
            ></app-input-text-form>
          </div>
        }
      </div>
      @if (comicsSeries$ | async; as comicsSeries) {
        <div class="pb-20 md:pb-4 pt-4">
          <app-carousel-series-comics
            [comics]="comicsSeries"
            [header]="comic.seriesTitle"
            [scrollToIndex$]="scrollToIndex$.asObservable()"
          ></app-carousel-series-comics>
        </div>
      }
    </ng-container>
  }
}
@if (notFoundID$ | async; as notFoundID) {
  <app-comic-not-found [id]="notFoundID"></app-comic-not-found>
}
@if (!(comic$ | async) && !(notFoundID$ | async)) {
  <app-loading-spinner-page></app-loading-spinner-page>
}
