@if ((canScrollLeft$ | async) || (canScrollRight$ | async) || header) {
  <div class="pl-4 flex flex-row justify-between gap-8 items-center w-full text-generic-text">
    <h3 class="text-2xl font-bold">{{ header }}</h3>
    <div class="flex flex-row gap-2">
      <div class="size-10">
        @if (canScrollLeft$ | async) {
          <button
            type="button"
            (click)="scrollFullScreen('left')"
            class="flex items-center justify-center h-10 w-10 rounded-full focus:outline-hidden group"
          >
            <svg
              class="w-4 h-4"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"
              ></path>
            </svg>
          </button>
        }
      </div>
      <div class="size-10">
        @if (canScrollRight$ | async) {
          <button
            type="button"
            (click)="scrollFullScreen('right')"
            class="flex items-center justify-center h-10 w-10 rounded-full focus:outline-hidden group"
          >
            <svg
              class="w-4 h-4"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              ></path>
            </svg>
          </button>
        }
      </div>
    </div>
  </div>
}
@if (series.length > 0) {
  <div
    #scrollContainer
    class="flex flex-nowrap overflow-x-auto overflow-y-hidden overflow-section no-scrollbar"
  >
    @for (serie of series; track trackBySeries($index, serie)) {
      <div class="p-4 shrink-0" style="width: 200px">
        <app-series [series]="serie"></app-series>
      </div>
    }
  </div>
}
@if (comics.length > 0) {
  <div
    #scrollContainer
    class="flex flex-nowrap overflow-x-auto overflow-y-hidden overflow-section no-scrollbar"
  >
    @for (comic of comics; track trackByComic($index, comic)) {
      <div class="p-4 shrink-0" style="width: 200px" #comicItem>
        <app-comic-database [highlight]="comic.highlight" [comic]="comic"></app-comic-database>
      </div>
    }
  </div>
}
@if (comicSearchs.length > 0) {
  <div
    #scrollContainer
    class="flex flex-nowrap overflow-x-auto overflow-y-hidden overflow-section no-scrollbar"
  >
    @for (comic of comicSearchs; track trackByComicSearch($index, comic)) {
      <div class="p-4 shrink-0" style="width: 200px" #comicItem>
        <app-comic-search
          [comic]="comic"
          [queryParams]="tag ? { tag: serializedTag } : null"
        ></app-comic-search>
      </div>
    }
  </div>
}
