<div class="h-full px-3 py-4 overflow-y-auto bg-nav-menu-background pt-6 overflow-x-hidden">
  <div class>
    <a routerLink="home" class="flex items-center ps-1 mb-5">
      <img [src]="iconSrc" class="size-10 me-3" />
      <span class="self-center text-xl font-semibold whitespace-nowrap text-generic-text logo-typo"
        >ComicVault</span
      >
    </a>
  </div>
  <ul class="space-y-2 pt-2 font-medium">
    <li>
      <app-left-nav-button
        route="home"
        activeRoute="home"
        label="Home"
        svgPath="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
      ></app-left-nav-button>
    </li>
    <li>
      <div class="flex align-middle w-full justify-between relative">
        <app-left-nav-button
          class="w-full"
          route="library"
          activeRoute="library"
          label="Library"
          svgPath="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"
        ></app-left-nav-button>

        <button
          class="relative items-center p-2 text-sm font-medium text-center text-nav-menu-button-text rounded-lg hover:ring-4 hover:ring-nav-menu-button-border focus:ring-4 focus:outline-hidden focus:ring-nav-menu-button-border"
          type="button"
          appHideRoles
          [appHideForRoles]="[Role.Requester, Role.Viewer]"
          (click)="toggleDisplayLibraryMenu()"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 4 15"
          >
            <path
              d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
            ></path>
          </svg>

          <!-- Dropdown -->
          <div
            class="fixed left-[calc(100%-2rem)] top-44 z-50"
            *ngIf="displayLibraryMiniMenu && open"
            appOutsideClick
            (outsideClick)="setDisplayLibraryMenu(false)"
          >
            <div class="bg-nav-menu-button-active divide-y rounded-lg shadow-lg w-52">
              <ul class="py-2 text-sm text-nav-menu-button-text">
                <li>
                  <app-scan-lib-button [mini]="true"></app-scan-lib-button>
                </li>
                <li>
                  <app-clean-lib-button
                    appHideRoles
                    [appHideForRoles]="[Role.Contributor, Role.Requester, Role.Viewer]"
                    [mini]="true"
                  ></app-clean-lib-button>
                </li>
                <li>
                  <app-delete-lib-button
                    appHideRoles
                    [appHideForRoles]="[Role.Owner, Role.Contributor, Role.Requester, Role.Viewer]"
                    [mini]="true"
                  ></app-delete-lib-button>
                </li>
              </ul>
            </div>
          </div>
        </button>
      </div>
    </li>
    <li>
      <app-left-nav-button
        route="search"
        activeRoute="search"
        label="Search"
        [queryParams]="{ category: 'all' }"
        svgPath="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
      ></app-left-nav-button>
    </li>
    <li>
      <app-left-nav-button
        route="downloads"
        activeRoute="downloads"
        label="Downloads"
        svgPath="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m-6 3.75 3 3m0 0 3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75"
      ></app-left-nav-button>
    </li>
  </ul>
  <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-nav-menu-section-border">
    <li
      appHideRoles
      [appHideForRoles]="[Role.Owner, Role.Contributor, Role.Requester, Role.Viewer]"
    >
      <app-left-nav-button
        route="users"
        activeRoute="users"
        label="Users"
        svgPath="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
      ></app-left-nav-button>
    </li>
    <li
      appHideRoles
      [appHideForRoles]="[Role.Owner, Role.Contributor, Role.Requester, Role.Viewer]"
    >
      <app-left-nav-button
        route="devices"
        activeRoute="devices"
        label="Devices"
        svgPath="M10.5 19.5h3m-6.75 2.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-15a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 4.5v15a2.25 2.25 0 0 0 2.25 2.25Z"
      ></app-left-nav-button>
    </li>
    <li>
      <app-left-nav-button
        route="settings"
        activeRoute="settings"
        label="Settings"
        svgPath="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75"
      ></app-left-nav-button>
    </li>
  </ul>
  <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-nav-menu-section-border">
    <li>
      <app-left-nav-button
        *ngIf="authService.username$ | async as username"
        route="user"
        activeRoute="user"
        [label]="username"
        svgPath="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
      ></app-left-nav-button>
    </li>
    <li>
      <app-left-nav-button
        *ngIf="authService.username$ | async as username"
        route="login"
        activeRoute="login"
        label="Sign out"
        svgPath="M5.636 5.636a9 9 0 1 0 12.728 0M12 3v9"
      ></app-left-nav-button>
    </li>
  </ul>
  <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-nav-menu-section-border">
    <li>
      <app-dark-mode-button></app-dark-mode-button>
    </li>
  </ul>
</div>
