<button
    (click)="closeModal()"
    type="button"
    class="absolute top-3 end-2.5 text-modal-title-cross-text bg-transparent hover:bg-modal-title-cross-hover hover:text-modal-title-cross-hover-text rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
>
    <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
    >
        <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
        ></path>
    </svg>
    <span class="sr-only">Close modal</span>
</button>
