<div class="relative pt-10 bg-modal-background rounded-lg shadow-sm">
  <app-cross-modal (onCloseClick)="cancelUser()"></app-cross-modal>
  <form class="mt-4 mx-6 space-y-4 md:space-y-6 text-generic-text" action="#">
    <div>
      <app-input-text
        title="Username"
        [(value)]="user.username"
        [disabled]="!data?.input?.modifyUser"
        id="username"
        >
      </app-input-text>
    </div>
    <div>
      <app-input-text title="Password" [(value)]="user.password" [password]="true" id="password">
      </app-input-text>
    </div>
    <div class="flex items-center justify-start gap-4">
      <label for="hs-color-input" class="block text-sm font-medium mb-2"> Avatar color </label>
      <div class="flex h-full justify-center">
        <app-input-color [(value)]="user.color"></app-input-color>
      </div>
    </div>
    @if (data?.input?.modifyRole === true) {
      <div class="p-4 md:p-5 text-center">
        <label for="role" class="block mb-2 text-sm font-medium"> Select a role </label>
        <div
          class="bg-input-select-background border border-input-select-border text-input-select-text text-sm rounded-lg focus:ring-input-select-focus-ring p-2.5"
          >
          <select id="role" [formControl]="roleControl" class="w-full">
            <option value="ADMIN">ADMIN</option>
            <option value="OWNER">OWNER</option>
            <option value="CONTRIBUTOR">CONTRIBUTOR</option>
            <option value="REQUESTER">REQUESTER</option>
            <option selected="VIEWER">VIEWER</option>
          </select>
        </div>
      </div>
    }
    <div class="align-middle w-full flex justify-center py-4">
      <button type="button" (click)="okUser()" class="button-text button-primary">OK</button>
    </div>
  </form>
</div>
