<div class="relative pt-10 pb-4 bg-modal-background rounded-lg shadow-sm">
  <app-cross-modal (onCloseClick)="cancel()"></app-cross-modal>
  <div class="p-4 md:p-5 text-center">
    <svg
      class="mx-auto mb-4 text-modal-message-warning w-12 h-12"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
      ></path>
    </svg>
    <h3 class="text-lg font-normal text-modal-message-text">
      Are you sure you want to delete read comics? Select one option
    </h3>
  </div>
  <div class="p-4 md:p-5 text-center">
    <div class="relative flex items-center mb-4">
      <app-radio-button-input
        label="Read by everyone"
        [value]="'READ_BY_ALL'"
        (valueChange)="updateResponse($event)"
        [initValue]="'READ_BY_ALL'"
      ></app-radio-button-input>
    </div>
    <div class="relative flex items-center mb-4">
      <app-radio-button-input
        label="Read by me and not on going by others"
        [value]="'READ_BY_ME_NOT_STARTED_BY_OTHER'"
        (valueChange)="updateResponse($event)"
        [initValue]="'READ_BY_ALL'"
      ></app-radio-button-input>
    </div>
    <div class="relative flex items-center mb-4">
      <app-radio-button-input
        label="Read by me"
        [value]="'READ_BY_ME'"
        (valueChange)="updateResponse($event)"
        [initValue]="'READ_BY_ALL'"
      ></app-radio-button-input>
    </div>
  </div>
  <div class="flex justify-center gap-6">
    <button (click)="confirm()" type="button" class="button-text button-error">
      Yes, I'm sure
    </button>
    <button (click)="cancel()" type="button" class="button-text button-deactivated">
      No, cancel
    </button>
  </div>
</div>
