<a
  [ngClass]="{
    'bg-nav-menu-button-active': (activePageService.activePage$ | async) === activeRoute,
  }"
  class="flex items-center p-2 left-menu-button group"
  [routerLink]="route"
  [queryParams]="queryParams"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-6"
  >
    <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="svgPath">></path>
  </svg>
  <span class="ms-3 whitespace-nowrap">{{ label }}</span>
</a>
