<div class="whole-page-container">
  @if (!contentSeries) {
    @if (filteredComics$ | async; as filteredComics) {
      @if (filteredComics.length === 0) {
        <app-no-results></app-no-results>
      } @else {
        @if (gridService.gridOptionActivePage$ | async) {
          <app-comics-database-grid
            [comics]="filteredComics"
            class="mb-4"
          ></app-comics-database-grid>
        } @else {
          <app-comic-database-table
            [comics]="filteredComics"
            class="mb-4"
          ></app-comic-database-table>
        }
      }
    } @else {
      <app-loading-spinner-page
        class="absolute top-0 right-0 left-0 bottom-0 min-h-screen"
      ></app-loading-spinner-page>
    }
  } @else {
    @if (filteredSeries$ | async; as filteredSeries) {
      @if (filteredSeries.length === 0) {
        <app-no-results></app-no-results>
      } @else {
        @if (gridService.gridOptionActivePage$ | async) {
          <app-series-grid [series]="filteredSeries" class="mb-4"></app-series-grid>
        } @else {
          <app-series-table [series]="filteredSeries" class="mb-4"></app-series-table>
        }
      }
    } @else {
      <app-loading-spinner-page
        class="absolute top-0 right-0 left-0 bottom-0 min-h-screen"
      ></app-loading-spinner-page>
    }
  }
</div>
