<label class="inline-flex items-center cursor-pointer">
  <div class="flex items-center justify-center py-4 md:py-4 flex-wrap">
    <button
      type="button"
      (click)="emitValue(true)"
      class="rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3"
      [ngClass]="value === true ? 'active-chip' : 'inactive-chip'"
    >
      {{ trueChipLabel }}
    </button>
    <button
      type="button"
      (click)="emitValue(false)"
      class="rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3"
      [ngClass]="value === false ? 'active-chip' : 'inactive-chip'"
    >
      {{ falseChipLabel }}
    </button>
  </div>
</label>
