<div class="relative pt-10 bg-modal-background rounded-lg shadow-sm">
  <app-cross-modal (onCloseClick)="cancel()"></app-cross-modal>
  <div class="m-4 text-center">
    <label class="font-semibold text-lg text-generic-text">{{ data?.comicTitle }}</label>
  </div>
  <div class="p-4 md:p-5 text-center md:max-h-96 overflow-y-auto">
    @for (downloadIssue of data?.options; track downloadIssue) {
      <div class="relative flex items-center mb-4">
        <form class="max-w-sm mx-auto">
          <label class="block mb-2 text-sm font-medium text-generic-text">{{
            downloadIssue.description
          }}</label>
          <select
            (change)="onPlatformChange($event, downloadIssue.idGcIssue)"
            class="bg-input-select-background border border-input-select-border text-input-select-text text-sm rounded-lg focus:ring-input-select-focus-ring block w-full p-2.5"
          >
            @if (downloadIssue.links.length) {
              <option [value]="0" selected>
                {{ downloadIssue.links[0].platform }}
              </option>
              @for (item of downloadIssue.links.slice(1); track item; let i = $index) {
                <option [value]="i + 1">
                  {{ item.platform }}
                </option>
              }
            }
            <option [value]="-1">NONE</option>
          </select>
        </form>
      </div>
    }
  </div>
  <div class="align-middle w-full flex justify-center py-4">
    <button type="button" (click)="confirm()" class="button-text button-primary">Download</button>
  </div>
</div>
