@if (rows.length > 0) {
  <div
    [class.rounded-lg]="!modalMode"
    class="relative overflow-x-auto shadow-md w-full h-fit rounded-lg"
  >
    @if (formTable) {
      <table
        [formGroup]="formTable"
        class="w-full text-sm text-left rtl:text-right text-table-text"
      >
        <tbody>
          @for (row of rows; track $index) {
            <tr
              class="odd:bg-table-odd-background even:bg-table-even-background border-b border-table-border"
            >
              <th scope="row" class="px-6 py-4 font-medium text-table-title whitespace-nowrap">
                {{ row.title }}
              </th>

              @if (row.type === 'text') {
                <td class="px-6 py-4">
                  {{ row.text | emptyToNA }}
                </td>
              }

              @if (row.type === 'editable-text') {
                <td class="px-6 py-4">
                  @if (!editMode) {
                    {{ row.text | emptyToNA }}
                  } @else {
                    <app-input-text-form
                      [id]="row.formControlName"
                      [formControlName]="row.formControlName"
                    ></app-input-text-form>
                  }
                </td>
              }

              @if (row.type === 'editable-number') {
                <td class="px-6 py-4">
                  @if (!editMode) {
                    {{ row.number }}
                  } @else {
                    <app-digit-input-form
                      [id]="row.formControlName"
                      [formControlName]="row.formControlName"
                    ></app-digit-input-form>
                  }
                </td>
              }

              @if (row.type === 'routerLink') {
                <td class="px-6 py-4">
                  @if (row.text.length > 0) {
                    <a
                      [routerLink]="row.routerLink"
                      class="font-medium text-table-link hover:underline"
                    >
                      {{ row.text }}
                    </a>
                  } @else {
                    N/A
                  }
                </td>
              }

              @if (row.type === 'link') {
                <td class="px-6 py-4">
                  @if (row.link.length > 0) {
                    <a [href]="row.link" class="font-medium text-table-link hover:underline">
                      {{ row.link }}
                    </a>
                  } @else {
                    N/A
                  }
                </td>
              }

              @if (row.type === 'editable-link') {
                <td class="px-6 py-4">
                  @if (!editMode) {
                    @if (row.link.length > 0) {
                      <a [href]="row.link" class="font-medium text-table-link hover:underline">
                        {{ row.link }}
                      </a>
                    } @else {
                      N/A
                    }
                  } @else {
                    <app-input-text-form
                      [id]="row.formControlName"
                      [formControlName]="row.formControlName"
                    ></app-input-text-form>
                  }
                </td>
              }

              @if (row.type === 'image') {
                <td class="px-6 py-4">
                  <img [src]="row.src" [alt]="row.alt" class="relative w-12 h-12" />
                </td>
              }

              @if (row.type === 'chip') {
                <td
                  scope="row"
                  class="px-6 py-4 font-medium whitespace-nowrap flex items-center gap-2"
                >
                  <span
                    class="chip"
                    [class.chip-success]="row.severity === 'Success'"
                    [class.chip-error]="row.severity === 'Error'"
                    [class.chip-warning]="row.severity === 'Warning'"
                    [class.chip-info]="row.severity === 'Info'"
                    [class.chip-desactivated]="row.severity === 'Desactivated'"
                  >
                    {{ row.text }}
                  </span>
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <table class="w-full text-sm text-left rtl:text-right text-table-text">
        <tbody>
          @for (row of rows; track $index) {
            <tr
              class="odd:bg-table-odd-background even:bg-table-even-background border-b border-table-border"
            >
              <th scope="row" class="px-6 py-4 font-medium text-table-title whitespace-nowrap">
                {{ row.title }}
              </th>

              @if (row.type === 'text') {
                <td class="px-6 py-4">
                  {{ row.text | emptyToNA }}
                </td>
              }

              @if (row.type === 'routerLink') {
                <td class="px-6 py-4">
                  @if (row.text.length > 0) {
                    <a
                      [routerLink]="row.routerLink"
                      class="font-medium text-table-link hover:underline"
                    >
                      {{ row.text }}
                    </a>
                  } @else {
                    N/A
                  }
                </td>
              }

              @if (row.type === 'link') {
                <td class="px-6 py-4">
                  @if (row.link.length > 0) {
                    <a [href]="row.link" class="font-medium text-table-link hover:underline">
                      {{ row.link }}
                    </a>
                  } @else {
                    N/A
                  }
                </td>
              }

              @if (row.type === 'image') {
                <td class="px-6 py-4">
                  <img [src]="row.src" [alt]="row.alt" class="relative w-12 h-12" />
                </td>
              }

              @if (row.type === 'chip') {
                <td
                  scope="row"
                  class="px-6 py-4 font-medium whitespace-nowrap flex items-center gap-2"
                >
                  <span
                    class="chip"
                    [class.chip-success]="row.severity === 'Success'"
                    [class.chip-error]="row.severity === 'Error'"
                    [class.chip-warning]="row.severity === 'Warning'"
                    [class.chip-info]="row.severity === 'Info'"
                    [class.chip-desactivated]="row.severity === 'Desactivated'"
                  >
                    {{ row.text }}
                  </span>
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
}
