@if (homePageData$ | async; as homePageData) {
  <div class="whole-page-container">
    @if (homePageData.newComics.length === 0) {
      <app-no-results></app-no-results>
    } @else {
      @if (homePageData.ongoingComics.length > 0) {
        <app-carousel-series-comics
          class="pb-4"
          [comics]="homePageData.ongoingComics"
          header="Ongoing comics"
        ></app-carousel-series-comics>
      }
      @if (homePageData.ongoingSeries.length > 0) {
        <app-carousel-series-comics
          class="pb-4"
          [series]="homePageData.ongoingSeries"
          header="Ongoing series"
        ></app-carousel-series-comics>
      }
      @if (homePageData.newComics.length > 0) {
        <app-carousel-series-comics
          class="pb-4"
          [comics]="homePageData.newComics"
          header="New comics"
        ></app-carousel-series-comics>
      }
      @if (homePageData.newSeries.length > 0) {
        <app-carousel-series-comics
          class="pb-4"
          [series]="homePageData.newSeries"
          header="Updated series"
        ></app-carousel-series-comics>
      }
    }
  </div>
} @else {
  <app-loading-spinner-page></app-loading-spinner-page>
}
