<div class="relative pt-10 bg-modal-background rounded-lg shadow-sm">
  <app-cross-modal (onCloseClick)="cancel()"></app-cross-modal>
  <div class="px-4 pt-4">
    <label class="font-semibold text-lg text-generic-text">{{ data?.comicTitle }}</label>
  </div>
  <div class="p-4 md:p-5 text-center">
    @for (link of data?.options; track link) {
      <div class="relative flex items-center mb-4">
        <app-radio-button-input
          [label]="link.platform"
          [value]="link"
          (valueChange)="updateLink($event)"
          [initValue]="data?.options?.[0]"
        ></app-radio-button-input>
      </div>
    }
  </div>
  <div class="align-middle w-full flex justify-center py-4">
    <button type="button" (click)="confirm()" class="button-text button-primary">Download</button>
  </div>
</div>
