<div class="relative max-w-sm">
    <div class="space-y-2">
        <label
            *ngIf="title"
            class="block mb-2 text-sm font-medium text-generic-text"
        >
            {{title}}
        </label>
        <div class="absolute inset-y-0 start-0 top-9 flex items-center align-middle ps-3.5 pointer-events-none">
            <svg
                class="w-4 h-4 text-input-icon"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"></path>
            </svg>
        </div>
        <input
            datepicker
            #input
            type="text"
            class="text-sm rounded-lg block w-full ps-10 p-2.5 bg-input-background border-input-border text-generic-text focus:ring-input-field-focus-ring focus:border-input-button-focus-ring"
            (change)="onInput($event)"
            (blur)="onTouched()"
            [disabled]="isDisabled"
            [value]="value"
            placeholder="Select Date"
        >
    </div>
</div>
